# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Emacs Backup Files
*~

SuiteSparse
lusol

PSOPT/examples/*/*.dat
PSOPT/examples/*/*.scp
PSOPT/examples/*/*.txt
PSOPT/examples/*/*.pdf
PSOPT/examples/*/*.tex

dmatrix/examples/colon
dmatrix/examples/expm
dmatrix/examples/rand
dmatrix/examples/ricc
dmatrix/examples/sparse

PSOPT/examples/alpine/alpine
PSOPT/examples/bioreactor/bioreactor
PSOPT/examples/brac1/brac1
PSOPT/examples/breakwell/breakwell
PSOPT/examples/bryden/bryden
PSOPT/examples/bryden/bryson_denham
PSOPT/examples/brymr/brymr
PSOPT/examples/brymr/bryson_max_range
PSOPT/examples/catmix/catmix
PSOPT/examples/chain/chain
PSOPT/examples/climb/climb
PSOPT/examples/coulomb/coulomb
PSOPT/examples/cracking/cracking
PSOPT/examples/crane/crane
PSOPT/examples/dae_i3/dae_i3
PSOPT/examples/delay1/delay1
PSOPT/examples/glider/glider
PSOPT/examples/goddard/goddard
PSOPT/examples/heat/heat
PSOPT/examples/hyper/hyper
PSOPT/examples/hyper/hypersensitive
PSOPT/examples/ipc/interior_point
PSOPT/examples/ipc/ipc
PSOPT/examples/isop/isop
PSOPT/examples/isop/isoperimetric
PSOPT/examples/lambert/lambert
PSOPT/examples/launch/launch
PSOPT/examples/lowthr/low_thrust
PSOPT/examples/lts/lts
PSOPT/examples/manutec/manutec
PSOPT/examples/missile/missile
PSOPT/examples/moon/moon
PSOPT/examples/mpec/mpec
PSOPT/examples/notorious/notorious
PSOPT/examples/obstacle/obstacle
PSOPT/examples/rayleigh/rayleigh
PSOPT/examples/reorientation/reorientation
PSOPT/examples/shutt/shuttle_reentry1
PSOPT/examples/sing5/singular5
PSOPT/examples/stc1/stc1
PSOPT/examples/steps/steps
PSOPT/examples/twoburn/twoburn
PSOPT/examples/twolink/twolinkarm
PSOPT/examples/twophro/twophase_robot
PSOPT/examples/twophsc/twophase_schwartz
PSOPT/examples/user/user
PSOPT/examples/zpm/zpm

